.main-header {
    background-color: rgba(136, 86, 86, 0.6);
    padding-bottom: 20px;
    padding-top: 20px;
}

.item {
    margin: 30px;
}

.item-title {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.item-image {
    height: 250px;
}

.item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.item-price {
    flex-grow: 1;
    display: block;
    color: #333;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.brand-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.about-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.about-footer-container {
    display: flex;
    align-items: center;
}